.modal{
    width: var(--modal-size);
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: -1px 1px 8px 1px var(--black-translucent);
    position: absolute;
    /* position: relative;
    transform: translate(-115%, 45%); */
}

.modal:focus{
    outline: none;
}

.modal-top{
    background-color: #f1f3f4;
    height: var(--size);
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-top span{
    width: var(--size);
    height: var(--size);
}

.modal-top span:hover{
    background-color: var(--dark-grey-translucent-2);
    border-radius: 50%;
}

.modal-top img{
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
    padding: 7px 8px;
}

.submodal{
    background-color: var(--white);
    display: flex;
    flex-flow: row wrap;
    height: 50px;
    padding: 6px 15px;
    align-items: center;
}

.input-name{
    justify-content: flex-end;
    align-items: center;
}

.date{
    justify-content: space-between;
    align-items: center;
}

.event-time{
    display: flex;
    flex-flow: column nowrap;
}

.checkbox{
    margin-right: var(--margin);
}

.select-reminder{
    margin-left: var(--margin);
}

.description :first-child{
    margin-right: 10px;
}

.flipX{
    transform: scaleX(-1);
}

.description-p{
    padding: 5px;
    margin-right: var(--margin);
    color: var(--light-grey);
    border-radius: var(--border-radius);
}

.description-p:hover{
    background-color: var(--dark-grey-translucent);
}

.description-textarea{
    border-color: var(--light-grey);
    width: calc(var(--size) * 10);
}

.select-type-event{
    margin-left: var(--margin);
}

.buttons{
    justify-content: flex-end;
    align-items: center;
    margin-right: 15px;
}

.button{
    color: var(--white);
    background-color: var(--dark-blue);
    border: none;
    padding: 5px 20px;
    font-weight: 500;
    margin-left: var(--margin);
    width: fit-content;
    height: fit-content;
    border-radius: var(--border-radius);
}

.button:hover{
    background-color: var(--dark-blue-translucent);
}

.day {
    width: 14.25%;
    padding: 10px;
    height: 200px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
  }
  .event:hover {
    background-color: var(--dark-grey-translucent-2);
    color:black;
  }

  .day + #currentDay {
    background-color:#e8f4fa;
  }
  .event {
    font-size: 12px;
    padding: 3px;
    background-color: #58bae4;
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
    text-align:left;
    margin: 2.5px;
    cursor:pointer;
  }
  /* Invisible data event */
  .event-data{
      display:none;
  }
  .padding {
    width: 14.25%;
    padding: 10px;
    max-height: 20%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    background-color: white;
    color: rgba(0, 0, 0, 0.3);
    /* border: 1px solid gray; */
  }
  .padding:hover {
    background-color: #e8faed;
  }

  .day-number {
    display: flex;
    align-self: flex-end;
  }

  .day-today {
    background-color: red;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    align-items: center;
  /* modal Background style */
  }
  .modalBackground{
      position:absolute;
      width:100%;
      height: 98%;
      
  }
  /* modal edit event */
  .iconEditModal{
    width: calc(var(--size) / 2);
    height: calc(var(--size) / 2);
    margin-right: 10px;
  }
  
  .itemEditModal img{
    width:15px;    
}