.modal{
    width: 400px;
    height: fit-content;
    border-radius: var(--border-radius);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.377);

}

.modal-top{
    background-color: #f1f3f4;
    height: 30px;
    padding: 6px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.submodal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 50px;
    width: 100%;
    padding: 6px;
}

.right{
    float: right;
}

.selectDay{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flipX{
    transform: scaleX(-1);
}