/* HEADER SECTION */
#first-section{
    display:flex;
    width:450px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
#logo{
    display:flex;
    flex-direction: row;
}
#logo img{
    width:50px;
}
#month-container{
    display:flex;
    flex-direction:row;
    width:150px;
}
#month-container img{
width: 10px;
}
#month-container #back-btn{
    cursor:pointer;
}
#month-container #next-btn{
    margin-right: 10px;
    margin-left:5px;
    cursor: pointer;
}
#create-event-btn{
    padding:1em;
    border-radius: 40px;
    margin-right:10px;
}