/* RESET CSS ----------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END OF RESET CSS ------------------------- */

/* MAIN VARIABLES FOR STYLES ------------------- */

/* VARIABLES */
:root {
  --font: "Open Sans", sans-serif;
  --font-display: "Open Sans", sans-serif;
  --light: 300;
  --regular: 400;
  --semi-bold: 600;
  --bold: 700;
  --bg: #333333;
  --header: #404040;
  --btnGrey: #585858;
  --btnActive: #7b7b7b;
  --textDarkGray: #707070;
  --textLightGray: #b0b0b0;
  --pink: #c07d7d;
  --red: #c94d4d;
  --green: #b8cead;
  --darkGreen: #49b162f1;
  --blueTitle: #66aeaf;
  --darkBlue: #3d989a;
}

* {
  font-family: "Open Sans", sans-serif;
  /* outline: 1px solid red !important; */
  box-sizing: border-box;
  cursor: default;
  transition: 0.15s ease-out;
}

*:focus {
  outline: none;
}

html{
  height:100vh;
  max-height:100vh;
  background-color: var(--bg);
}

body {
  position:relative;
  display: flex;
  flex-direction: column;
  max-height:100vh;
}

header {
  position:inherit;
  padding: 0 2%;
  width: 100%;
  max-height: 6vh;
  height: 6vh;
  min-height: 6vh;
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  position:inherit;
  width: 100%;
  height: 94vh;
  max-height: 94vh;
  background-color: var(--bg);
  margin:0 auto;
}

button {
  min-width: 28px;
  height: 28px;
  border-radius: 10px;
  border: 1px solid var(--btnGrey);
  color: var(--textDarkGray);
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

button:focus {
  border: 1px solid white;
  transform: scale(1.1);
}

button:hover {
  background-color: var(--btnGrey);
}

button:active {
  background-color: var(--btnActive);
  color: white;
}

.calendar-button{
  background-color: var(--blueTitle);
  color:var(--bg);
}

.calendar-button:hover{
  background-color: var(--darkBlue);
}

input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--textLightGray);
  padding: 5px;
  padding-left: 0px;
  margin-bottom: 10px;
}

input[type="datetime-local"] {
  color: var(--textLightGray);
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: var(--semi-bold);
  padding-top: 0px;
}

input[type="datetime-local"]:disabled {
  color: var(--header);
}

input[type="checkbox"] {
  min-width: 16px;
  min-height: 16px;
  border-radius: 25px;
  margin: 0px 5px 0px 0px;
  margin-bottom: 5px;
}

/* [type="checkbox"]:not(:checked) {
  background: yellow;
} */

label {
  font-weight: 400;
  margin-bottom: 5px;
  font-family: var(--font-display);
  font-size: 14px;
  color: var(--blueTitle);
}

textarea {
  resize: none;
  height: min-content;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--textLightGray);
  padding: 0;
  margin-bottom: 10px;
  color: var(--textLightGray);
  font-family: var(--font-display);
  font-size: 16px;
  font-weight: var(--semi-bold);
  position: relative;
  min-height: 100px;
}

textarea::placeholder {
  position: absolute;
  color: var(--btnGrey);
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 400;
}

select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--textLightGray);
  color: var(--textDarkGray);
  margin-bottom: 10px;
  height: 30px;
  position: relative;
  font-family: var(--font-display);
  font-size: 16px;
}

h1 {
  font-family: var(--font-display);
  font-size: 36px;
  color: var(--textLightGray);
  font-weight: 700;
}

.dayOfWeek-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--textLightGray);
}

.dayofMonth-number {
  font-size: 18px;
  font-weight: 400;
  color: var(--textLightGray);
}

.monthName-text {
  font-size: 18px;
  font-weight: 300;
  color: var(--pink);
}

.dayOfWeekOnMonth-name {
  font-size: 16px;
  font-weight: 300;
  color: var(--green);
}
