/* HEADER STYLES ------------------------- */

.header01-div {
  display: flex;
  gap: 5px;
}

.newEvent-btn {
  font-size: 23px;
  font-weight: 400;
  background-image: url("/img/plus-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}

.warningBox-btn {
  font-size: 16px;
  font-weight: 400;
  color: var(--textDarkGray);
}

.header02-div {
  display: flex;
  gap: 5px;
}

.monthView-btn,
.yearView-btn {
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 400;
}

.header03-div {
  display: flex;
  gap: 5px;
}

.goPrevious-btn {
  font-size: 16px;
  font-weight: 400;
  background-image: url("/img/left-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
  background-color: var(--btnActive);
  border: none;
  color: white;
}

.goToday-btn {
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--btnActive);
  border: none;
  color: white;
}

.goNext-btn {
  font-size: 16px;
  font-weight: 400;
  background-image: url("/img/right-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
  background-color: var(--btnActive);
  border: none;
  color: white;
}

/* CURRENT TYPE OF DATE SECTION --------------------------- */

.currentDate-section {
  width: 100%;
  max-height: 9vh;
  height: 9vh;
  min-height: 90px;
  display: flex;
  position: relative;
}

.currentTypeofDate-container {
  display: flex;
  height: max-content;
  margin-bottom: 20px;
}

.currentYear-text {
  font-weight: 300;
  letter-spacing: -2px;
}

/* MAIN CONTENT SECTION --------------------------- */

.main-content-section {
  width: 100%;
  min-height: 85vh;
}

/* MODAL STYLES -------------------- */

.modal {
  z-index: 99999;
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  width: 100vw;
  height: 100%;
  opacity: 0;
  transition: all 0.35s ease-in;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalDialog {
  width: 300px;
  height: max-content;
  background-color: var(--bg);
  padding: 15px;
  padding-top: 30px;
  border-radius: 10px;
  position: relative;
}

.close-btn {
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.modalContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.modal.showUp {
  visibility: visible;
  opacity: 1;
}

/* END OF MODAL STYLES -------------------- */

/*MONTH SECTION TEMPLATE ---------------------------*/

.section-month {
  height: 85vh;
  font-family: var(--font);
  padding: 20px 0px;
  background-color: var(--bg);
}

.week-days-header {
  width: 100%;
  height: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1px;
  padding: 1px;
  background-color: var(--bg);
  margin-bottom: 5px;
}

.week-days-header > h2 {
  padding-right: 5%;
  background-color: var(--bg);
  text-align: right;
  min-width: 50px;
}

.month-container {
  width: 100%;
  height: 98%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  background-color: var(--textLightGray);
  padding: 1px;
}

.day_box {
  width: 100%;
  min-height: 80px;
  background-color: var(--bg);
  color: var(--textLightGray);
  min-width: 50px;
}

.month_day_number {
  text-align: right;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 10px;
}

.event-text {
  margin-right: 3%;
  margin-left: 3%;
  padding: 1px 3px;
  border-radius: 5px;
}

.event_alarm {
  background-color: tomato;
}
