/* HEADER STYLES ------------------------- */

.header01-div {
  display: flex;
  gap: 5px;
  position: relative;
  min-width: 61px;
  width: 15%;
}

.newEvent-btn {
  font-size: 23px;
  font-weight: 400;
  background-image: url("../img/plus-icon.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
}

.header02-div {
  display: flex;
  gap: 5px;
  width: 70%;
  justify-content: center;
}

.monthView-btn,
.yearView-btn {
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 400;
}

.header03-div {
  display: flex;
  gap: 5px;
}

.goPrevious-btn {
  font-size: 16px;
  font-weight: 400;
  background-image: url("../img/left-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
  background-color: var(--btnActive);
  border: none;
  color: white;
}

.goToday-btn {
  padding: 0px 20px;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--btnActive);
  border: none;
  color: white;
}

.goNext-btn {
  font-size: 16px;
  font-weight: 400;
  background-image: url("../img/right-arrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8px;
  background-color: var(--btnActive);
  border: none;
  color: white;
}

/* CURRENT TYPE OF DATE SECTION --------------------------- */

.currentDate-section {
  position: absolute;
  left: 2.5%;
  width: 95%;
  max-height: 9vh;
  height: 9vh;
  min-height: 9vh;
  display: flex;
  position: relative;
}

.currentTypeofDate-container {
  display: flex;
  height: max-content;
  margin-top: 20px;
  margin-bottom: 20px;
}

.currentYear-text {
  margin-left: 7px;
  font-weight: 300;
  letter-spacing: -2px;
}

/* MAIN CONTENT SECTION --------------------------- */

.main-content-section {
  width: 100%;
  min-height: 85vh;
}

/* MODAL STYLES -------------------- */

.modal {
  z-index: 99999;
  position: fixed;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  width: 100vw;
  height: 100%;
  opacity: 0;
  /*transition: all 0.35s ease-in;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalOut {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.modalDialog {
  width: 300px;
  height: max-content;
  background-color: var(--bg);
  padding: 15px;
  padding-top: 30px;
  border-radius: 10px;
  position: relative;
}

#eventTitleId {
  width: 100%;
  border-bottom: 1px solid var(--textLightGray);
  font-size: 25px;
  font-weight: 700;
  padding: 0px;
  color: var(--textLightGray);
}

#eventTitleId::placeholder {
  color: var(--btnGrey);
}

#saveBtn {
  margin-top: 5px;
  padding: 0px 20px;
  width: max-content;
  background-color: var(--blueTitle);
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  align-self: flex-start;
}

#saveBtn:hover {
  background-color: var(--darkBlue);
}

.close-btn {
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.modalContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* .modalContent>*,.modalContent>*>*{
  color:var(--textLightGray);
} */

.checkbox-container {
  color: var(--textLightGray);
  display: flex;
  align-items: center;
  /* margin-bottom: 10px; */
}

.modal.showUp {
  visibility: visible;
  opacity: 1;
}

/* END OF MODAL STYLES -------------------- */

/*MONTH SECTION TEMPLATE ---------------------------*/
.section-month {
  opacity:1;
  position: absolute;
  left: 2.5%;
  width: 95%;
  height: 85vh;
  font-family: var(--font);
  padding: 20px 0px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  animation-name: open;
  animation-duration: 0.5s;
}

.section-year{
  animation-name: open;
  animation-duration: 0.5s;
}

@keyframes open {
  from {opacity:0;}
  to {opacity:1;}
}

.week-days-header {
  width: 100%;
  max-height: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1px;
  background-color: var(--bg);
  margin-bottom: 10px;
}

.week-days-header > h2 {
  padding-right: 5%;
  background-color: var(--bg);
  text-align: right;
  min-width: 50px;
}

.month-container {
  width: 101%;
  height: 98%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  background-color: var(--btnGrey);
  padding: 1px;
}

.day_box {
  width: 100%;
  height: 13vh;
  min-height: 80px;
  background-color: var(--bg);
  color: var(--textLightGray);
  min-width: 50px;
  overflow: hidden;
}

.day_box:hover:not(.month-current-day) {
  border: 1px solid #66aeaf;
}

.month_day_number {
  text-align: right;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 10px;
  cursor: pointer;
}

.month_day_number:hover {
  background-image: url(../img/plus-icon.png);
  background-position: left;
  background-size: 9%;
  background-repeat: no-repeat;
  padding-left: 5px;
}

.event_alarm {
  background-color: tomato;
}

.day-not-month {
  color: var(--textDarkGray);
}
