/* VARIABLES */
:root {
  --font: "Open Sans", sans-serif;
  --font-display: "Open Sans", sans-serif;
  --bg: #333333;
  --header: #404040;
  --btnGrey: #585858;
  --btnActive: #7b7b7b;
  --textDarkGray: #707070;
  --textLightGray: #b0b0b0;
  --pink: #c07d7d;
  --green: #b8cead;
}


/* STRUCTURE */

*{
  margin:0 auto;
  padding:0px;
  box-sizing:border-box;
  /* outline: 1px solid red !important; */
  font-family:var(--font);
  font-weight: 100;
  color:var(--textLightGray);
}

#year-section{
  width:100%;
  height:100vh;
}

.year-row{
  display:flex;
  width:100%;
  height:33.3%;
}

.year-row>.month{
  width:25%;
  height: 100%;
  padding:0.5%;
}

.month>.week{
  display:flex;
  align-items: center;
  height:12%;
}

.week>.days{
  display:flex;
  width:14.2%;
  height:100%;
  align-items: center;
  justify-content: center;
}

/* STYLES */
.month-name{
  padding:5%;
  font-size:1.5em;
  font-weight:bold;
  color:rgb(102, 174, 175);
}

.week-days>div{
  color:var(--pink);
}

.week-days>div:hover{
  background-color:var(--bg);
}

.days:hover{
  background-color:rgba(166, 175, 175, 0.425);
  border-radius:20%;
  border-radius:50%;
}

.current{
  color:var(--bg);
  background-color:var(--green);
  border-radius:50%;
}

.current:hover{
  background-color:var(--bg);
  color:var(--textLightGray);
  border-radius:50%;
}