/* STRUCTURE */

*{
  margin:0 auto;
  padding:0px;
  box-sizing:border-box;
  /* outline:solid 1px red; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color:aliceblue
}

#year-view{
  width:100%;
  height:100vh;
  background-color:rgb(80, 80, 80);
}

.year-row{
  display:flex;
  width:100%;
  height:33.3%;
}

.year-row>.month{
  width:25%;
  height: 100%;
}

.month>.week{
  display:flex;
  align-items: center;
  height:12%;
}

.week>.days{
  display:flex;
  width:14.2%;
  align-items: center;
  justify-content: center;
}

/* STYLES */
.month-name{
  padding:5%;
  font-size:x-large;
  font-weight:bold;
  color:rgb(102, 174, 175);
}

.week-days>div{
  color:rgb(190, 157, 114);
}

.current{
  background-color:rgba(102, 174, 175, 0.425);
  border-radius:20%;
}

.days:hover{
  background-color:rgba(166, 175, 175, 0.425);
  border-radius:20%;
}