/**
 * BASE - RESET
 */

* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0px;
  padding: 0px;
  width:auto;
  height: 100%;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: transparent;
}

body,
html {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

section {
  padding: 0;
  position: relative;
  overflow: auto;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}


/* *:after,
*:before {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
} */
