/* MAIN */
:root {
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.668);

  --main-color: #101b3d;
  --main-color-tr: #101b3d7e;
  --main-dark-color: #010626;
  --main-dark-color-tr: #010626a4;
}
* {
  color: var(--white);
  background-color: var(--main-color);
  padding: 0;
  margin: 0;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1 {
  margin: 0;
}
body {
  display: flex;
}

/* HEADER */
.header {
  max-width: 50px;
  height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  color: white;
  margin: 0 20px;
}
.header .h1 {
  font-size: 3.8em;
  transform: rotate(270deg);
  width: 50px;
  letter-spacing: 50px;
  margin-top: 600px;
  font-weight: bolder;
}
.header .btn-add {
  display: flex;
  justify-content: center;
  height: 23%;
  width: fit-content;
}
.header .btn-add .open-modal {
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 3em;
  color: rgb(255, 255, 255);
}
.header .btn-add .open-modal:hover {
  transform: scale(1.5);
}

/* CALENDAR */
.skeleton {
  width: 100%;
}

.calendar {
  margin: 0 auto;
  margin-top: 50px;
  width: 1470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.calendar .display {
  min-width: 700px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 1.6em;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.calendar .display .previous-btn,
.calendar .display .next-btn {
  width: 30px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}
.calendar .display .previous-btn:hover,
.calendar .display .next-btn:hover {
  transform: scale(1.6);
}
.calendar .display .month-display {
  width: 80%;
  font-size: 1.2em;
}

.calendar .weekdays {
  width: 100%;
  font-size: 1.2em;
  display: flex;
  color: #247ba0;
  text-align: center;
}
.calendar .weekdays .weekday {
  width: 200px;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.calendar .months {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.calendar .month {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.calendar .months .month .day {
  width: 200px;
  padding: 15px;
  height: 200px;
  box-sizing: border-box;
  background-color: var(--main-dark-color-tr);
  border-radius: 30px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.3em;
  overflow-y: auto;
  overflow-x: hidden;
}
.calendar .months .month .day:hover {
  background-color: var(--main-dark-color);
}
.calendar .months .month .day .number-day {
  background-color: transparent;
  width: fit-content;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-top: 5px;
}
.calendar .months .month .day.empty {
  background-color: transparent;
}
.calendar .months .month .day.current {
  background-color: rgba(0, 94, 225, 0.46);
}
.calendar .months .month .day.current:hover {
  background-color: rgba(0, 94, 225, 0.702);
}
.day::-webkit-scrollbar {
  display: block;
  width: 3px;
}
.day::-webkit-scrollbar-track {
  background: transparent;
}
.day::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 30px;
}
.day::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 30px;
}
.day::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-right: none;
  border-left: none;
}

.calendar .months .month .day .day-event {
  width: 90%;
  height: 10px;
  padding: 10px;
  color: var(--black);
  margin: 5px 0 0 0;
  font-size: 0.7em;
  border-radius: 10px;
  text-align: left;
  line-height: 10px;
  font-weight: bold;

  background-color: rgb(74, 218, 146);
}
.calendar .months .month .day .day-event:hover {
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.885);
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 10;
}
.modal-dialog {
  position: relative;
  width: 500px;
  height: fit-content;
  padding: 40px;
  border-radius: 5px;
  overflow: auto;
  cursor: default;
  background-color: var(--main-color);
}
.modal-dialog.alert {
  background-color: rgba(250, 188, 66, 0.657);
}
.modal-dialog.alert-end {
  background-color: rgba(230, 87, 68, 0.922);
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  height: fit-content;
}
.modal-header h3 {
  text-align: center;
  width: 100%;
}

.modal-footer {
  display: flex;
  justify-content: center;
  height: fit-content;
}
.modal-header .modal-close {
  width: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--main-color);
}
.modal-header .modal-close:hover {
  transform: scale(1.5);
}
.modal-header .modal-close.alert {
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: bolder;
}
.modal p + p {
  margin-top: 1rem;
}
.modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}
.modal.is-visible {
  visibility: visible;
  opacity: 1;
}
[data-animation="slideInOutLeft"] .modal-dialog {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s var(--bounceEasing);
}
[data-animation="slideInOutLeft"].is-visible .modal-dialog {
  opacity: 1;
  transform: none;
  transition-delay: 0.2s;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
  min-height: 300px;
}
.modal-content > * {
  background-color: var(--main-color);
}
.form {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-content .form .form-data {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  background-color: var(--main-color);
}
.modal-content .form .form-data .div-label {
  width: 50%;
  background-color: var(--main-color);
}
label {
  width: 90%;
  background-color: var(--main-color);
  font-size: 1.2em;
}
.modal-content .form .form-data .div-input {
  width: 50%;
}
.modal-content .form .form-data .div-input input,
.modal-content .form .form-data .div-input select,
.modal-content .form .form-data .div-input textarea {
  width: 90%;
  font-size: 1.2em;
  color: black;
  padding: 5px 10px;
  background-color: white;
}
.modal-content .form .form-data input[type="checkbox"] {
  margin-right: 5px;
}
.modal-footer .btn-save,
.modal-footer .btn-cancel {
  background-color: rgba(0, 255, 0, 0.652);
  color: white;
  border: none;
  padding: 12px 35px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 20px;
}
.modal-footer .btn-cancel {
  background-color: rgb(255, 0, 0);
}

/* FORM */
#showEndDate {
  display: none !important;
}
#showEndDate.is-visible {
  display: flex !important;
}
#showExpiration {
  display: none !important;
}
#showExpiration.is-visible {
  display: block !important;
}
#previousTime {
  display: none !important;
}
#previousTime.is-visible {
  display: flex !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1600px) {
  .calendar .months .month .day {
    width: 100px;
  }
  .calendar {
    width: 770px;
  }
  .calendar .weekdays .weekday {
    width: 100px;
  }
  .calendar .months .month .day i {
    opacity: 0.2;
    transform: scale(2);
    position: relative;
    left: 80%;
    bottom: 30%;
  }
  .calendar .months .month .day .day-event {
    padding: 2px 6px;
    min-width: 86px;
    border-radius: 3px;
    margin-left: -10px;
    margin-bottom: -10px;
    font-size: 0.7em;
  }
}

@media screen and (max-width: 820px) {
  .calendar .months .month .day {
    width: 100%;
  }
  .calendar {
    width: fit-content;
  }
  .calendar .weekdays {
    display: none;
  }
  .calendar .months .month .day.empty {
    display: none;
  }
  .header .h1 {
    font-size: 1.4em;
  }
  .calendar .display {
    font-size: 1em;
  }
  .modal {
    width: 100vw;
    height: 100vh;
  }
  .modal .modal-dialog {
    margin-left: -30px;
    width: 80vw;
  }
  .calendar .months .month .day .day-event {
    padding: 5px 10px;
    width: 100%;
    border-radius: 3px;
    margin-left: -10px;
    margin-bottom: -10px;
    font-size: 0.7em;
  }
}
