* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    outline: black 1px solid;
}
/* * HEADER */
header {
    max-height: 150px;
    height: 20vh;
    background-color: aqua;
}

/* * CALENDAR AREA */
main{
    height: 80vh;
    width: 100vw;
    background-color: bisque;
}
.calendar{
    margin: 10px auto;
    height: 90%;
    width: 90%;
    
}
.weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: auto;
    justify-items: center;
}
.days-wrapper{
    display: grid;
    grid-auto-row: 1fr;
    height: 100%;
    gap: 10px;
}
.calendar-row{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    height:max-content;
}
.day{

}