.incorrect{
    border: 2px solid red;
}

.inactivedButton{
    display: none;
}
.error{

    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    height: 2%;
    margin-bottom: auto;
    color: red;
}
.m-action-buttonHidden{
    display: none;
    color: whitesmoke;
    background-color: var(--darkestGray);
    font-size: large;
    padding: 5px 10px;
    border-radius: 5px;
}