#alert-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alert-reminder-container {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10001;
  display: flex;
  justify-content: center;
  align-items: center;
}

#details-content {
  position: relative;
  width: 300px;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.title-event {
  width: 100%;
  border-bottom: 1px solid var(--textLightGray);
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 30px;
}

.details-container {
  width: 100%;
  height: 100%;
}

.label-for-details {
  font-family: var(--font);
  font-size: 13px;
  color: var(--blueTitle);
  font-weight: 400;
  margin-bottom: 5px;
}

.detailed-event {
  font-size: 15px;
  font-family: var(--font-display);
  color: var(--textLightGray);
  font-weight: 700;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--textDarkGray);
  padding-bottom: 5px;
}

.div-for-btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.remove-btn {
  background-color: var(--pink);
  border: none;
  color: white;
  padding: 0px 10px;
  font-weight: 600;
}

.remove-btn:hover {
  background-color: var(--red);
}

.ok-btn {
  background-color: var(--blueTitle);
  border: none;
  color: white;
  font-weight: 600;
}

.ok-btn:hover {
  background-color: var(--darkBlue);
}

/* #modalContainer > #alertBox {
  position: fixed;
} */

/* #alertBox h1 {
  margin: 0;
  background-color: #3073bb;
  color: #fff;
  border-bottom: 1px solid #000;
  padding: 2px 0 2px 5px;
}

#alertBox p {
  font: 0.7em verdana, arial;
  height: 50px;
  padding-left: 5px;
  margin-left: 55px;
} */

#alertBox #closeBtn {
  display: block;
  position: relative;
  margin: 5px auto;
  padding: 7px;
  border: 0 none;
  width: 70px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #357ebd;
  border-radius: 3px;
  text-decoration: none;
}

/* unrelated styles */

#details-reminder-content {
  position: relative;
  width: 300px;
  background-color: var(--bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 15px; */
}

.reminder-header {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--red);
  border-radius: 10px 10px 0px 0px;
  padding: 15px;
  border-bottom: 5px solid var(--blueTitle);
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: var(--textLightGray);
}

.details-reminder-container {
  width: 100%;
  height: 100%;
  padding: 15px;
}

.div-for-reminder-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.ok-reminder-btn {
  background-color: var(--blueTitle);
  border: none;
  color: white;
  font-weight: 600;
  padding: 0px 10px;
}

.ok-reminder-btn:hover {
  background-color: var(--darkBlue);
}

#mContainer {
  position: relative;
  width: 600px;
  margin: auto;
  padding: 5px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.warningBox-btn {
  font-size: 16px;
  font-weight: 400;
  color: var(--textDarkGray);
  z-index: 999;
  overflow: auto;
}

.warningBox-btn-alert {
  background-color: var(--red);
  color: white;
  font-weight: var(--bold);
}

.warningBox-btn-alert:hover {
  background-color: var(--pink);
}

.warningBox-btn-alert:active {
  background-color: var(--red);
}

.past-reminders-container {
  min-width: 250px;
  max-height: 300px;
  border: 5px solid var(--pink);
  position: absolute;
  top: 32px;
  margin-left: 32px;
  border-radius: 10px;
  z-index: 9999;
  overflow: auto;
  background-color: var(--pink);
  opacity: 1;
  transition: 0.3s ease-out;
}

.prc-hidden {
  min-width: 0px;
  width: 0px;
  max-height: 0px;
  height: 0px;
  opacity: 0;
  transition: 0.3s ease-out;
}

.reminder-div {
  width: 100%;
  padding: 5px;
  height: max-content;
  background-color: var(--red);
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reminder-div:last-child {
  margin-bottom: 0;
}

/* WARNING BOX  */

.title-reminder-text {
  font-family: var(--font-display);
  font-size: 15px;
  font-weight: 600;
  color: white;
  width: max-content;
  margin-bottom: 8px;
  cursor: pointer;
}

.delete-reminder-btn {
  width: 12px;
  height: 12px;
  background-image: url("/assets/img/plus-icon.png");
  background-size: cover;
  transform: rotate(45deg);
  margin-bottom: 5px;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.date-reminder-text {
  font-family: var(--font-display);
  font-size: 14px;
  font-weight: 400;
  color: white;
  width: 95%;
}
