.btn {
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 50%;
    background-color: var(--third-color);
    color: var(--primary-color);
    transition: 0.6s;
    cursor: pointer;
}

.plus-btn {
    background-color: var(--fifth-color);
    border: solid 2px var(--fifth-color);
    color: var(--primary-color);
}

.btn:hover {
    color: black;
    background-color: var(--fourth-color);
}

.calendar__weekdays {
    background-color: var(--third-color);
    color: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
}

.calendar__weekdays>div {
    text-align: center;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
}

#daysMonth {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px 0px;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
}

.day__month {
    position: relative;
    color: var(--primary-color);
    text-align: right;
    border: solid 1px;
    border-color: var(--third-color);
    border-collapse: collapse;
    padding: 0.3rem;
    transition: 0.4s;
    flex-shrink: 0;
    flex-grow: 1;
    min-height: 7rem;
    max-width: 7rem;
}

.day__month:hover {
    border: solid 1px var(--secondary-color);
}

.day__btn--add {
    position: absolute;
    top: 2px;
    right: 2px;
    opacity: 0;
    font-size: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 50%;
    background-color: var(--third-color);
    color: var(--primary-color);
    transition: 0.6s;
    cursor: pointer;
}

.day__btn--add:hover {
    color: black;
    background-color: var(--fourth-color);
}

.day__month:hover .day__btn--add,
.day__btn--add:focus {
    opacity: 1;
}

.header__date-title {
    text-transform: capitalize;
}

.past .day__event-title {
    opacity: 0.75;
}

.today {
    font-weight: bold;
    background-color: var(--third-color);
}

.day__event-title.meeting {
    text-align: center;
    background-color: var(--type-1);
    border: solid 2px var(--type-1);
    transition: 0.6s;
}

.day__event-container:hover .day__event-title.meeting {
    background-color: var(--third-color);
}

.day__event-title.personal {
    text-align: center;
    background-color: var(--type-2);
    border: solid 2px var(--type-2);
    transition: 0.6s;
}

.day__event-container:hover .day__event-title.personal {
    background-color: var(--third-color);
}

.day__event-title.study {
    text-align: center;
    background-color: var(--type-3);
    border: solid 2px var(--type-3);
    transition: 0.6s;
}

.day__event-container:hover .day__event-title.study {
    background-color: var(--third-color);
}

.day__event-title.others {
    text-align: center;
    background-color: var(--type-4);
    border: solid 2px var(--type-4);
    transition: 0.6s;
}

.day__event-container:hover .day__event-title.others {
    background-color: var(--third-color);
}

.day__tittle {
    text-align: center;
    padding: 7.5px;
}

.day__event-container {
    padding: 2%;
    margin: 1%;
}

.day__event-title,
.more-events {
    font-size: small;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    display: block;
    pointer-events: none;
}

.expiredEventContainer {
    position: relative;
}

.event__dismiss {
    position: absolute;
    top: -7px;
    right: 0px;
    font-size: 2rem;
    line-height: 8px;
    padding: 8px;
    cursor: pointer;
}


/* hide .day__btn--add if day__month is not hovered */