/* GLOBAL */
* {
  font-family: 'Nunito', sans-serif;
}

/* MAIN CONTAINER */

.main-container {
  display: flex;
  width: 100vw;
}

/* SUMMARY */

.summary {
  width: 30%;
}

/* CALENDAR CONTAINER */

.calendar-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
}

/* Common used classes */

.display-none {
  display: none;
}
