.modal_crear {
    border: 1px solid black;
    display: flex;
    padding-top: 100px;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.nav_modal {
    width: 100%;
    height: 30px;
    background-color: grey;
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.main_modal {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.nav_modal:hover,
.nav_modal:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.main_modal {}

.input_modal {
    margin: 30px 15px 15px 15px;
    padding-top: 20px;

}

.input_modal>input {
    border: 0;
    width: 70%;
    border-bottom: 1px solid black;
    font-size: 1.2em;
    text-align: center;
}

.linianobonito {
    margin: auto;
    width: 60%;
    height: 2px;
    background-color: rgba(192, 192, 192, 0);
    transition: with 2s;
}

.liniabonito {
    margin: auto;
    width: 60%;
    height: 2px;
    background-color: blue;
}

.fecha_modal {
    display: flex;
    justify-content: center;
}

.fecha_modal>div {
    margin: 10px;
    width: 100%;
}

.date-picker {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

#date-pickerInput {
    border: 0;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}

::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/* modificar datat times */
input[type="datetime-local"] {}



.opciones_modal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.opciones_modal>div {
    display: flex;
    justify-content: space-around;
    /* align-content: center; */
    margin: 15px;
}

.opciones_modal>div>p {
    position: relative;
    bottom: 10px;
}



input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(29, 120, 238);
}