.modal_crear {
    border: 1px solid black;
    display: flex;
    padding-top: 100px;
    left: 0;
    top: 0;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.nav_modal {
    width: 100%;
    height: 30px;
    background-color: grey;
    color: rgb(0, 0, 0);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.main_modal {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.nav_modal:hover,
.nav_modal:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.main_modal {}

.input_modal {
    margin: 30px 15px 15px 15px;
    padding-top: 20px;

}

.input_modal>input {
    border: 0;
    width: 70%;
    border-bottom: 1px solid black;
    font-size: 1.5em;
    text-align: center;
}

.input_modal>input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.linianobonito {
    margin: auto;
    width: 60%;
    height: 2px;
    background-color: rgba(192, 192, 192, 0);
    transition: with 2s;
}

.liniabonito {
    margin: auto;
    width: 60%;
    height: 2px;
    background-color: blue;
}

.fecha_modal {
    display: flex;
    justify-content: center;
}

.fecha_modal>div {
    margin: 10px;
    width: 100%;
}

.date-picker {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
}

#date-pickerInput {
    border: 0;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
}

::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}




.opciones_modal {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}


.checkbox-modal {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    max-height: 30px;
}

.checkbox-modal>div {
    display: flex;
}

.checkbox-modal>div>p {
    position: relative;
    bottom: 10px;
}

/* The container */
.checkbox-modal-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-modal-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-modal-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-modal-container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-modal-container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-modal-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* selecionar cada cuanto */
.repit_modal {
    border: none;
    height: 30px;
    text-align: center;
    margin: 2% 0%;
    cursor: pointer;
}

.repit_modal:hover {
    box-shadow: 1px 1px 5px;
}

.repit_modal:focus {
    outline: none;
}

/* descripcion */
#descripcion_modal>input {
    width: 95%;
    border: none;
    text-align: center;
    box-shadow: 1px 1px 2px;
    height: 3em;
}

#descripcion_modal>input:hover {
    outline: none;
    box-shadow: 1px 1px 5px;
}

#descripcion_modal>input:focus {
    outline: none;
    box-shadow: 1px 1px 5px var(--azul);
}

.footer_modal {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.footer_modal>select {
    display: flex;
    outline: none;
    border: none;
    width: 30%;
    margin: 10px;
}

.footer_modal>select:hover {
    box-shadow: 1px 1px 5px;
}

.footer_modal>button {
    background-color: var(--azul);
    color: white;
    font-size: 1.2em;
    padding: 15px;
    border: solid 2px var(--azulclaro);
    border-radius: 7px;
}


input[type="checkbox"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(29, 120, 238);
}