/* TYPOS */

/* @font-face {
  font-family: "Avenir-regular";
  src: url(../fonts/AvenirNextLTPro-Regular.otf) format("opentype");
};

@font-face {
  font-family: "Avenir-bold";
  src: url(../fonts/AvenirNextLTPro-Bold.otf) format("opentype");
}

@font-face {
  font-family: "Avenir-italic";
  src: url(../fonts/AvenirNextLTPro-It.otf) format("opentype");
} */

/* COMMON */
@import "./reset.css";
@import "./common.css";

/* MODALS */
@import "./modal.css";

/* OTHER */


