body {
    display: flex;
    width: 100%;
    font-size: 5em;
}

#calendar{
    margin: 0 auto;
}

.monthPre {
    color: gray;
    text-align: center;
}
<<<<<<< HEAD
=======

>>>>>>> main
.monthNow {
    color:#000000;
    font-weight: bolder;
    text-align: center;
}

.dayNow {
    border: 2px solid black;
    color: black;
    font-weight: bolder;
    text-align: center;
}
.calendar li {
    /* display: grid;
    grid-template-columns: repeat(7,1fr); */
    list-style: none;
    /* grid-template-rows: auto; */
}
.monthNow li {
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.dayNames {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);   
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
}

ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.gridCalendar {
    /* padding: 6px; */
    font-size: 20px;
    /* display: grid; */
    /* position: relative; */
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 5px #E3FDF5
    ;
}

#calendarP {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 30px;
    align-items: baseline;
}

.desaparecer {
    display: none;
}
#firstModal{
    width: 100%;
}
/* #color1{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
} */
