.flex {
  display: flex;
  justify-content: space-evenly;
}

.--is-visible {
  display: block;
}

.--is-hidden {
  display: none;
}

.--is-selected {
  background-color: black;
  color: white;
}

.--is-moving-right {
  transition: all 1s linear;
  transform: translateX(20%);
}
