/** flexbox */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** positioning */
.margin-x-1 {
  margin: 0 1rem;
}

.padding-1 {
  padding: 0.5rem;
}

.--is-visible {
  display: block;
}

.--is-hidden {
  display: none;
}

.--is-selected {
  margin: auto;
  background-color: #fcee6d;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.--is-expired {
  background-color: red;
}

/** COLORS */

.color-yellow {
  color: #fcee6d;
}

.color-grey {
  color: #626972;
}

.color-grey-dark {
  color: #29323f;
}
