*{
    box-sizing: border-box;
}
body{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
}
main{
    display: flex;
}

/* MONTH CONTAINER */
#month-name{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2% 2%;
    width: 50%;
    background-color: rgb(200,200,200);
}

#month-container{
    display: flex;
    flex-wrap: wrap;
    /*display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0.3fr repeat(6, 1fr);*/
    align-items: center;
    margin: 5px;
    background-color: rgb(200,200,200);
}
.weekdays{
    width: 12%;
    font-size: 1vw;
}
#today{
    background-color: rgb(220,220,200);
}
.day-container{
    height: 100px;
    width: 12%;
    margin: 1%;
    background-color: rgb(150,150,150);
}
.day-container-empty{
    height: 100px;
    width: 12%;
    margin: 1%;
    background-color: rgb(220,220,220);
}
.today-special-day{
    background-color: #ff8800;
    /* border: 1px solid chartreuse; */
}
.event-container{
    cursor: pointer;
}
.buttonspecific {
    background-color: #ff8800;
    border: none;
    float: right;
    color: white;
    border-radius: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    display: hidden;
}
.day-container-inner {
    background-color: #ff8800;
    border: none;
    color: white;
    border-radius: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    display: hidden;
}
#e-selected-day #buttonspecific{
    display:block;
    }

/* DAY CONTAINER */
#day-name{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 15%;
    background-color: rgb(202, 202, 202);
}
#day-container{
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: rgb(25, 97, 190);
}
.hour-container{
    padding: 3px;
    width: 100%;
    background-color: rgb(202, 202, 202);
    border: 1px solid rgb(180,180,180);
}
.e-selected-day{
    border: 2px solid #ff8800;
}

.e-selected-day button{
    z-index: 10;
}


/* YEAR CONTAINER */
#year-name{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2% 2%;
    width: 35%;
    height: auto;
    background-color: rgb(202, 202, 202);
}

#year-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
    height: auto;
    background-color: rgb(202, 202, 202);
}
.month-container-year{
    margin-bottom: 5px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0%;
    width: 32%;
    background-color: rgb(202, 202, 202);
}
.day-container-year-empty{
    margin-bottom: 3px;
    margin-top: 3px;
    text-align: center;
    height: 20px;
    width: 13%;
    background-color: rgb(200,200,200);
}
.day-container-year{
    margin-bottom: 3px;
    margin-top: 3px;
    cursor: pointer;
    text-align: center;
    font-size: small;
    font-weight: bold;
    height: 20px;
    width: 13%;
    background-color: rgb(195,195,195);
    color: rgb(100,100,100);
}
.day-container-year-inner{
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    text-align: center;
    font-size: small;
    font-weight: bold;
    height: 100%;
}

.today-special-year-day{
    background-color: darkkhaki;
}
.e-selected-day-year{
    border: 1px solid black;
}

/* .day-container button{
    display: none;
} */

.sports{
    background-color: rgb(9, 240, 105) !important;
}
.default{
    background-color: rgb(204, 33, 33) !important;
}
.meeting{
    background-color: rgb(86, 33, 209) !important;
}
.leisure{
    background-color: rgb(184, 33, 146) !important;
}
.dayinpast{
    color: rgb(179, 170, 150) !important;
    background-color: #b35f00 !important;
}
