* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

html {
    font-size: 62.5%;
}

body{
    background-color: rgb(201, 201, 201);
}

main{
    height: 100vh;
    width: 100vw;
}

.container {
    margin-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    vertical-align: center;
}

.calendar {
    width: 50%;
    height: 95vh;
    background-color: rgb(0, 0, 0);
    border-radius: 1%;
    overflow: hidden;
    z-index: 500;
}
.calendar__shadow {
    width: 50%;
    height: 95vh;
    position: absolute;
    left: 5%;
    background-color: rgb(34, 34, 34);
    border-radius: 1%;
    overflow: hidden;
    z-index: 200;
    transform: scale(0.95);
}

.calendar__shadow__2 {
    width: 50%;
    height: 95vh;
    position: absolute;
    left: 3%;
    background-color: rgb(54, 54, 54);
    border-radius: 1%;
    overflow: hidden;
    z-index: 300;
    transform: scale(0.98);
}

.month {
    width: 100%;
    height: 15%;
    background-color: rgb(92, 92, 92);
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 600;
    color: darkgoldenrod;
    padding: 0px 10%;
}

.month h2 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 10%;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: calc(100%/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    width: 100%;
    height: 75%;
    padding-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
    padding-right: 1%;
}

.days div {
    font-size: 1.4rem;
    width: calc(100%/7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    border: solid 1px white;
}

.days div:hover:not(today) {
    background-color: rgb(168, 168, 168);
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.1;
}

.today {
    background-color: orange;
}

/* ########## Pop up Modal ####### */
#openButton{
    height: 50px;
     width: 50px ;
     background-color:white;
     font-size: 30px;
     position: absolute;
     bottom:20%;
     left: 80%;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 600; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(35, 54, 54, 0.4); /* Black w/ opacity */
    
    
  }
  /* Add styles to the modal container */
  .modal-content {
    flex-direction: column;
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5%;
    width: 20%;
    box-sizing: border-box;
    padding: 25px;
    box-shadow: 10px 10px 10px black;
    font-size: 12px;
    
  }
  
  .textContainer , #addDate , #addTitle ,#endDate, #timeSelect, #reminderBox, #descriptionBox,#eventType, #buttonsPop{
     height: 50px;
     width: 100%;
     /* outline: 1px black solid; */
  }
  /* Space beetweeen the Create and Close buttons */
  #buttonsPop{
    display: flex;
    justify-content: space-between;
  }
  /* Move around the H1 text  */
  .textContainer{
      display: flex;
      align-items: center;
      
  }
  /* Size and focus of the Add title Box  */
#titleBox{
    height: 40px;
    width: 100%;
}
#titleBox:focus {
    background-color: #ddd;
}
 /* Moving around of all the content inside the separate divs */
#addDate{
    display: flex;
    align-items: center;
    flex-direction:row ;
    justify-content: space-between;
    
}
#endCal{
    margin-left: 20%;
    
}

#initialCal , #endCal{
width: 80%;
height: 70%;
}
#endCal{
    display: none;
}
#timeSelect{
    display: flex;
    align-items: center;
}
#timeSelector{
margin: 18px;
width: 20%;
height: 70%;

}
#reminderSelect{
    display: none;
  
}

textarea{
    resize: none;
    overflow: auto;
    outline: none;
    box-sizing: border-box;
    padding: 2px;
    height: 100%;
    width: 100%;
    
}
#eventType{
    margin-top: 10px;
}
#eventSelect{
  margin-left: 18px;

   
}
#reminderBox{
  padding: 15px 0 15px 0
}
/* All Modal Buttons side and shape */
.buttons{
    height: 50px;
    width: 70px;
    border-radius: 10%;
    outline: none;
}

#createBtn {
    background-color: lightgreen;
    cursor: pointer;
}

#cancelBtn{
    background-color: lightcoral;
    cursor: pointer;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }