/**
 * MODULE - BUTTONS
 */

.btn{
  display: flex;
  justify-content: center;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover{
}

.btn--word{}

.btn--circle{}

.btn--red{
  background-color: rgb(231, 97, 97);
  color: #fff;
}

.btn--red:hover{
  background-color: rgb(224, 131, 131);
}

.btn--blue{
  background-color: rgb(56, 129, 224);
  color: #fff;
}

.btn--blue:hover{
  background-color: rgb(108, 163, 236);
}

.btn--dark{
  background-color: #262626;
  color: #fff;
}

.btn--dark:hover{
  background-color: #363636;
}

.btn--add_type{
  display: flex;
  justify-content: center;
}

.btn--add_type [type="button"]{
  width: 15em;
  color: rgb(255, 255, 255);
  background-color: black;
}

@media (max-width: 767px) {
  .btn{
    margin: 5px;
  }
}