/**
 * MODULE - CALENDAR
 */

.calendar {
  display: flex;
  flex-direction: column;
  width: calc(100% - 500px);
  height: 100%;
}

.calendar__header{
  padding: 0 20px;
  min-height: 90px;
  max-height: 90px;
  display: flex;
  align-items: flex-end;
}

.calendar__title{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.2em;
  font-weight: 600;
  margin: 20px 0;
}

.calendar__main{
  height: 100%;
  padding: 15px 15px 60px;
}

.calendar__week,
.calendar__dates {
  display: grid;
  grid-template: "auto auto auto auto auto auto auto";
  width: 100%;
}

.calendar__week{
  padding-bottom: 10px;
}

.calendar__day{
  color: grey;
}

.calendar__day,
.calendar__date{
  text-align: center;
  border: 1px solid white;
  padding: 10px;
  font-size: 16px;
}

.calendar__dates {
  height: 100%;
}

.calendar__date{
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.calendar__plus{
  visibility: hidden;
}

.calendar__date:hover .calendar__plus{
  visibility: visible;
}

.calendar__date:hover:not(.calendar__prev){
  border: 1px solid grey;
  border-radius: 4px;
}

.calendar__today{
  background-color: black;
  color: white;
}

.calendar__prev{
  margin: 5px;
  color: gray;
}

@media (max-width: 991px) {
  .calendar {
    width: calc(100% - 250px);
  }
}

@media (max-width: 767px) {
  .calendar {
    width: 100%;
  }
}