/**
 * MODULE - EVENTS
 */

.events {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  border-left: 1px solid lightgray;
}

.events__header {
  min-height: 90px;
  max-height: 90px;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  padding: 0 20px;
}

.events__main{
  display: grid;
  font-weight: bold;
}

.event {
  border-bottom: 1px solid lightgray;
  align-self: center;
}

.event__item {
  height: 8rem;
  padding: 0 20px;
  height: 4rem;
}

@media (max-width: 767px) {
  .events {
    position: absolute;
    width: 100%;
    transform: translateX(100%);
  }
}