/**
 * MODULE - EVENTS
 */

.events {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
}

.events__header {
  min-height: 90px;
  max-height: 90px;
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  padding: 0 20px;
}

.events__title{
  font-size: 1.2em;
  font-weight: 600;
  margin: 20px 0;
}

.events__main{
  display: grid;
  font-weight: bold;
}

.event {
  display: flex;
  border-bottom: 1px solid lightgray;
  align-self: center;
  padding: 20px;
  justify-content: flex-start;
}

.event:hover{
  background-color: ghostwhite;
}

.event__content{
  width: 100%;
}

.event__btn--close {
  font-size: 18px;
  height: 20px;
  width: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.event__number{
  margin-bottom: 10px;
}

.event__color{
  height: 20px;
  width: 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.event__time{
  font-weight: 400;
}

.event__description{
  font-weight: 400;
}

.event__type{
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 6px 12px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
}

.event__message{
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

.event__message--alert{
  color: gray;
}

.event__dots{
  display: flex;
  height: 100%;
  padding: 0;
}

.event__dot{
  list-style: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

@media (max-width: 767px) {
  .events {
    position: absolute;
    width: 100%;
    transform: translateX(100%);
  }

  .event__dot{
    height: 6px;
    width: 6px;
  }
}