/**
 * MODULE - MENU
 */

.menu {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.15s;
}

.menu__header{
  padding: 0 20px;
  min-height: 90px;
  max-height: 90px;
  display: flex;
  align-items: flex-end;
}

.menu__title {
  font-size: 1.2em;
  font-weight: 600;
  margin: 20px 0;
}

.menu__footer{
  padding: 10px 20px;
}

@media (max-width: 991px) {
  .menu {
    position: absolute;
    z-index: 10;
    transform: translateX(-100%);
  }
}