/**
 * MODULE - MODALS
 */

.modal{
  position: fixed;
  z-index: 9999;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal__container{
  display: flex;
  flex-direction: column;
  width: calc(100vw - 70px);
  max-width: 500px;
  min-height: 150px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  margin-top: 120px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.15),0 10px 10px -5px rgba(0,0,0,.1);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal__container.sm-modal{
  max-width: 300px;
}

.slide-from-bottom{
  bottom: -200px;
}

.modal__title{
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0 0 20px 0;
  border-radius: 5px 5px 0 0;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  flex-wrap: wrap;
}

.modal__close{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 25px;
  width: 25px;
  right: -7px;
  top: -7px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  background-color: black;
  border: 0;
}

.modal__close:after, .modal__close:before{
  content: '';
  display: block;
  position: absolute;
  border-radius: 3px;
  background-color: white;
}

.modal__close:after{
  width: 2px;
  height: 16px;
}

.modal__close:before{
  width: 16px;
  height: 2px;
}

.modal__content{
  display: block;
  width: 100%;
  height: 400px;
  max-height: 100%;
  border-radius: 0 0 5px 5px;
}

.modal.active{
  visibility: visible;
  opacity: 1;
}

.modal.active .modal__container{
  opacity: 1;
}

.modal.active .modal__container.slide-from-bottom{
  bottom: 0px;
}
