/**
 * MODULE - NAV
 */

.nav{
  display: flex;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.nav__item {
  padding: 4px;
}

.nav__item--full{
  width: 100%;
}

.nav__circle {}
