/**
 * LAYOUT - COMMON
 */

.main {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
}

/* border */

.border{
    border: 1px solid lightgray;
}
.border-top{
    border-top: 1px solid lightgray;
}
.border-right{
    border-right: 1px solid lightgray;
}
.border-bottom{
    border-bottom: 1px solid lightgray;
}
.border-left{
    border-left: 1px solid lightgray;
}

/* @media (max-width: 575px) {}

@media (max-width: 450px) {} */